certifi==2020.4.5.1
hupper==1.10.2
PasteDeploy==2.1.0
plaster==1.0
plaster-pastedeploy==0.7
pyramid==1.10.4
translationstring==1.3
venusian==3.0.0
waitress==2.1.1
WebOb==1.8.6
zope.deprecation==4.4.0
zope.interface==5.1.0
